# Comments & Data Types

In [5]:
# this is a comment

"""
    this is a
    multi-line
    comment
"""

print('Hello') # this is also a comment

Hello

In [1]:
# the following are all integers

print(2)

print(10)

2
10

In [3]:
# the following are all floats

print(10.953)

print(8.0) # even this number is a float

10.953
8.0

In [6]:
# the following are booleans

print(True)

print(False)

True
False

In [2]:
# the following are strings

print('')

print("There's a snake in my boot!")

print('True')

There's a snake in my boot!
True

# Variables

In [2]:
Sport = 'baseball'    # capital 'S'
print(sport)          # lowercase 's'

NameError: name 'sport' is not defined

In [3]:
num1 = 5           # storing an integer into a variable

num2 = 8.4         # storing a float into a variable

print(num1, num2)  # you can print multiple items using commas

5 8.4

In [5]:
# storing a boolean into a variable

switch = True

print(switch)

True

In [5]:
# storing strings into a variable

name = 'John Smith'

fav_number = '9'

print(name, fav_number)       # will print 9 next to the name

John Smith 9

In [5]:
# using two variables to create another variable

result = num1 + num2

print(result)

13.4

In [6]:
# adding, deleting, multiplying, dividing from a variable

result += 1   # same as saying result = result + 1
print(result)

result *= num1   # same as saying result = result * num1
print(result)

14.4
72.0

In [7]:
# defining a variable and overwriting it's value

name = 'John'
print(name)

name = 'Sam'
print(name)

John
Sam

# Working with Strings

In [8]:
# using the addition operator without variables

name = 'John' + ' ' + 'Smith'

print(name)

John Smith

In [9]:
# using the addition operator with variables

first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' + last_name

print(full_name)

John Smith

In [10]:
# injecting variables using the format method

name = 'John'

print('Hello {}'.format(name))

print('Hello {}, you are {} years old!'.format(name, 28))

Hello John
Hello John, you are 28 years old!

In [11]:
# using the new f strings

name = 'John'

print(f'Hello {name}')

Hello John

In [12]:
# one major difference between versions 2 & 3

name = 'John'

print('Hello, %s' % name)

Hello, John

In [6]:
# python 2 multiple variable formatting

first_name = "John"
last_name = "Smith"

print("Hello, %s %s" % (first_name, last_name))

Hello, John Smith

In [8]:
# using indexes to print each element

word = 'Hello'

print(word[0])        # will output 'H'
print(word[1])        # will output 'e'
print(word[-1])       # will output 'o'

H
e
o

In [14]:
print(word[0:2])      # will output 'He'

He

In [9]:
print( word[ 0 : 5 : 2 ] )

Hlo

# Manipulating Strings

In [15]:
# using the title method to capitalize a string

name = 'john smith'

print(name.title())

John Smith

In [16]:
# replacing an exclamation point with a period

words = 'Hello there!'

print(words.replace('!', '.'))

Hello there.

In [17]:
# finding the starting index of our searched term

s = 'Look over that way'

print(s.find('over'))

5

In [12]:
# removing white space with strip

name = '   john   '

print(name.strip( ))

john

In [19]:
# converting a string into a list of words

s = 'These words are separated by spaces'

print(s.split(' '))

['These', 'words', 'are', 'separated', 'by', 'spaces']

# Friday Project: Printing Receipts

In [68]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first using format
print('\t\t{}'.format(company_name.title()))
print('\t\t{}'.format(company_address.title()))
print('\t\t{}'.format(company_city.title()))

# print a line between sections
print('=' * 50)

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each item
print('\t{}\t\t${}'.format(p1_name.title(), p1_price))
print('\t{}\t${}'.format(p2_name.title(), p2_price))
print('\t{}\t\t${}'.format(p3_name.title(), p3_price))

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print('\t\t\t${}'.format(total))

# print a line between sections
print('=' * 50)

# output thank you message
print('\n\t{}\n'.format(message))

# create a bottom border
print('*' * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, Ma
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************

# Monday Exercises - Answers

<p>
1. <b>Output:</b> Print our your name.
</p>

In [1]:
print("Connor P. Milliken")

Connor P. Milliken

<p>
2. <b>Type Checking:</b> Try checking the type of a value by using the type() method. This will always print out what kind of data type you're checking. This is useful to check data types when you're unsure. As an example:
</p>

<p>
>>> type(int)    # will output <class "int">
</p>

In [4]:
type(5)

int

# Tuesday Exercises - Answers

<p>
1. <b>Variable Output:</b> Store the value 3 in a variable called "x" and the value 10 in a variable called "y". Save the result of x * y into a separate variabled called "result". Finally, output the information so it shows like the following:
</p>

<p>
>>> 3 + 10 = 13
</p>

In [7]:
x = 3
y = 10

result = x  * y

print(x, '*', y, '=', result)

3 * 10 = 30

<p>
2. <b>Area Calculation:</b> Calculate the area of a 245.54" x 13.66" rectangle. Print out the result. HINT: Area is width multiplied by height.
</p>

In [9]:
width = 245.54
height = 13.66

area = width * height

print('The area is', area)

The area is 3354.0764

# Wednesday Exercises - Answers

<p>
1. <b>Variable Injection:</b> Create a print statement that injects an integer, float, boolean, and string all into one line. The output should look like "23 4.5 False John".
</p>

In [10]:
print("{} {} {} {}".format(23, 4.5, False, "John"))

23 4.5 False John

<p>
2. <b>Fill in the Blanks:</b> Using the format method, fill in the blanks below by assinging your name and favorite activities into variables:
</p>

<p>
"{}'s favorite sport is {}."
</p>

<p>
"{} is working on {} programming!"
</p>

In [11]:
print("{}'s favorite sport is {}".format("Connor", "Baseball"))
print("{} is working on {} programming!".format("Connor", "Python"))

Connor's favorite sport is Baseball
Connor is working on Python programming!

# Thursday Exercises - Answers

<p>
1. <b>Uppercasing:</b> Try manipulating the string 'uppercase' so it prints out as all uppercase letters. You'll need to lookup a new method.
</p>

In [13]:
s = 'uppercase'

print(s.upper())

UPPERCASE

<p>
2. <b>Strip Symbols:</b> Strip all dollar signs from the left side of this string "$$John Smith". Try it with .lstrip() and .strip(). To see a description of how to use the strip method further, try using the help function by typing the following:
</p>

<p>
>>> help("".strip)
</p>

In [15]:
# help("".strip)

s = "$$John Smith"

print(s.lstrip('$'))

John Smith

# End of Week Exercises - Answers

<p>
1. <b>Side Borders:</b> In the Friday project, we ended up creating borders above and below the information printed out. Try adding a star border on the sides as well now.
</p>

In [35]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first using format
print('*\t\t{}\t\t *'.format(company_name.title()))
print('*\t\t{}\t\t *'.format(company_address.title()))
print('*\t\t{}\t\t\t *'.format(company_city.title()))

# print a line between sections
print('*' + '=' * 48 + '*')

# print out header for section of items
print('*\tProduct Name\tProduct Price\t\t *')

# create a print statement for each item
print('*\t{}\t\t${}\t\t\t *'.format(p1_name.title(), p1_price))
print('*\t{}\t${}\t\t\t *'.format(p2_name.title(), p2_price))
print('*\t{}\t\t${}\t\t\t *'.format(p3_name.title(), p3_price))

# print a line between sections
print('*' + '=' * 48 + '*')

# print out header for section of total
print('*\t\t\tTotal\t\t\t *')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print('*\t\t\t${}\t\t\t *'.format(total))

# print a line between sections
print('*' + '=' * 48 + '*')

# output thank you message
print('*\t\t\t\t\t\t *\n*\t{}\t *\n*\t\t\t\t\t\t *'.format(message))

# create a bottom border
print('*' * 50)

**************************************************
*		Coding Temple, Inc.		 *
*		283 Franklin St.		 *
*		Boston, Ma			 *
*================================================*
*	Product Name	Product Price		 *
*	Books		$49.95			 *
*	Computer	$579.99			 *
*	Monitor		$124.89			 *
*================================================*
*			Total			 *
*			$754.83			 *
*================================================*
*						 *
*	Thanks for shopping with us today!	 *
*						 *
**************************************************

<p>
2. <b>Researching Methods:</b> We've gone over a few of the string manipulation methods that are widely used; however, there's many more, try looking up some and implementing them.
</p>

<p>
3. <b>Reverse:</b> Declare a variable equal to "Hello". Reverse the string using slicing. Try looking it up if you struggle. Tip: You can define a start, stop, and step when slicing.
</p>

In [16]:
s = "Hello"

print(s[::-1])

olleH